.path
 padding-bottom: 21.5rem
 &__counter
   margin-bottom: 1.5rem
   font-family: 'Yeseva One'
   font-size: 1.2rem
 &-slide
  &__heading
   max-width: 18.7rem
   margin: 0
   margin-bottom: .55rem
   font-family: 'Yeseva One'
   font-style: normal
   font-weight: normal
   font-size: 1.07rem
   line-height: 1.6
   text-transform: uppercase
   color: $primary
  &__value
   max-width: 24rem
   margin: 0
   margin-bottom: .6rem
   font-family: 'Futura Book'
   font-style: normal
   font-weight: normal
   font-size: 1.07rem
   line-height: 1.75
 &__suptitle
  font-size: 1.07rem
  text-transform: uppercase
 &__row
  justify-content: space-between
  align-items: cecter
.append-buttons
 cursor: pointer
 &__heading
  margin: 0
  margin-bottom: .7rem
  padding: .2rem 0
  max-width: 1.5rem
  font-family: 'Yeseva One'
  font-size: 1.07rem
  border-bottom: 1px solid $primary
  cursor: pointer
 &__text
  margin: 0
  max-width: 9rem
  font-size: 1.07rem
  cursor: pointer
.swiper
 &-container
  flex-direction: column
 &__nav
  display: flex
  flex-direction: row
  flex-wrap: wrap
 &-slide
  &__rows
   flex-basis: 33%
   margin-bottom: 2.8rem
   opacity: .4
   &-active
    opacity: 1
 &-wrapper
  &__wrap
   flex-wrap: wrap



