*, *:before, *:after
 box-sizing: border-box

html
 font-size: 14px
body
 font-family: 'Futura Book', sans-serif
 font-size: 1rem
img
 max-width: 100%
.section
 padding: 4.28rem 0
 &-title
  margin: 0
  text-align: center
  text-transform: uppercase
  font-family: 'Yeseva One', cursive
  font-size: .97rem
  &__heading
   margin-bottom: 1rem
  &__image
   display: flex
   justify-content: center
   align-items: center
   &::after, &::before
    content: ''
    display: inline-block
    margin: 11px
    width: 32px
    height: 1.54px
    background-color: $primary
  &__description
   max-width: 52.92rem
   margin: 1.4rem auto 3.5rem auto
   font-size: 1.42rem
   line-height: 1.9rem
   font-family: 'Futura Book', sans-serif
   text-transform: none



     